*.venv
*.idea
nerf_industrial_metaverse/__pycache__
nerf_industrial_metaverse/data
nerf_industrial_metaverse/data/01_Werkzeugkoffer

nerf_industrial_metaverse/viewer/server/data/plarndt
poetry.lock
external
nerf_industrial_metaverse/data/playground/images
nerf_industrial_metaverse/colmap*
nerf_industrial_metaverse/colmap.*
/images
/iphone_test
/nerf_industrial_metaverse/data/room/
/nerf_industrial_metaverse/videos/data
/nerf_industrial_metaverse/videos/transform.json
/nerf_industrial_metaverse/__pycache__/
/nerf_industrial_metaverse/common/__pycache__/
/nerf_industrial_metaverse/tools/__pycache__
/nerf_industrial_metaverse/common/colmap/__pycache__
/nerf_industrial_metaverse/common/utils/__pycache__
/nerf_industrial_metaverse/01_Werkzeugkoffer
/nerf_industrial_metaverse/scripts_ngp/__pycache__
/nerf_industrial_metaverse/scripts_ngp/flip/__pycache__
/nerf_industrial_metaverse/viewer/server/__pycache__
